<h2>Se ha cerrado la sesión</h2>
<p>A continuacion, sera redirigido a la pantalla de inicio de sesion...</p>

<script>
    setTimeout( () => {
        document.location.href="/api/usuario/login";
    }, 2000)
</script>